html, body {
  height: 100%;
  overflow: hidden;
}

body {
  background-color: $fourth-col;
}

a {
  color: $link-color;
  text-decoration: none;
}

a:hover {
  color: $link-hover-color;
}


/**
  Helpers
**/

.float-right {
  float: right;
}

.float-left {
  float: left;
}