<aside class="box box-2">
  <div class="brand">
    <i class="fa fa-car"></i>
    <span>CarPool</span>
  </div>
  <nav class="main-menu">
    <ul>
      <li><%= link_to('All journeys', root_path) %></li>
      <li><a href="#">Search</a></li>
    </ul>
  </nav>
</aside>