<h1>Current routes</h1>

<div id="newDriverForm"></div>

<div id="map-canvas"></div>

<div class="journey-listings">
  <% @drivers.each do |driver| %>
    <div><%= link_to driver.name, driver %></div>
    <div><%= driver.date %></div>
      <div class="locations">
        <div class="start-location"><%= driver.start_location %></div>
        <div class="end-location"><%= driver.end_location %></div>
      </div>
  <% end %>
</div>


<br>